<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>  
    <add key="DataHandler" value="csv"/>  
    <add key="OutlierRemover" value="ZSCORE"/>  
    <add key="Calculator" value="simple"/>  
    <add key="InputFile" value="C:\Temp\Data\OutlierData\Outliers.csv"/>  
    <add key="OutputFile" value="C:\Temp\Data\OutlierData\WithoutOutliers.csv"/>
  </appSettings>
</configuration>